In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

First we'll have to make a synthetic datasets first

Our synthetic datasets will contain 
- 5 users, with id ranging from 1 to 5.
- 5 books, also id 1 to 5.

In [7]:
ratings = pd.DataFrame({
    'user_id': [1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5, 5],
    'book_id': [1, 1, 2, 3, 1, 2, 4, 5, 1, 3, 3, 5],
    'rating': [5, 4, 3, 2, 4, 1, 2, 3, 1, 2, 4, 5]
})
ratings

    user_id  book_id  rating
0         1        1       5
1         2        1       4
2         2        2       3
3         2        3       2
4         3        1       4
5         3        2       1
6         3        4       2
7         3        5       3
8         4        1       1
9         4        3       2
10        5        3       4
11        5        5       5

There's 12 ratings